button{
    display: inline-flex;    
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 80%;    

}

button:hover,:focus{
    background-color:white ;
    color: black ;

}

.li1{
    font-size: 40pt;
    font-family: 'Nanum Pen Script', cursive;
    
}

.li2{
    font-size: 30pt;
    color: blue;    
    font-family: 'Nanum Pen Script', cursive;
        
}   

.tag2{
    padding-left : 10%;    
    font-size: 80%;
    padding-bottom: 50%;


}

.tag3 {
    padding: 10pt;
    background-color: red;
    color: white;
    font: bold;    
    text-align: center;
    font-family: 'Single Day', cursive;
    
}

