.container{
    font-family: 'Single Day', cursive;
}

.s1{
    display: inline-flex;
    padding: 2%;
    margin: 2%;
    background-color: red;
    color: white;
    font : bold;
    font-size: 15pt;    

}